<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Emprendimientos</title>
    <link rel="stylesheet" href="../css/Geolocalizacion.css">
    <script type="module" src="../js/Geolocalizacion.js" ></script>
    
</head>
<body>
    <header>
        <h1>Mapa de Emprendimientos</h1>
        <button id="ubicacion-actual">Mostrar mi ubicación</button>
    </header>
    <main>
        <div id="map" style="width: 100%; height: 600px;"></div>
    </main>
    
</body>
</html>


